places
elpa/*
ac-comphist.dat
backups
url
eshell
projectile-bookmarks.eld
*.elc
abbrev_defs
.last-package-update-day
projectile.cache
recentf
.cask
helm-history
auto-save-list
ido.last
network-security.data
session.*
transient/
tramp
forge-database.sqlite
.lsp-session-v1
flycheck_init.el
